body {
    /* background-color: #f9f1c8; */
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.title-head{
    color : #d72b0d;
    text-align: center;
}
.body-content{
   border: 1px solid #000000;
   height: auto;
   text-align: center;
   background-color: #ffffff;
   width: 50%;
   margin: 10px auto;
}
h4 {
    color :#d72b0d;
}
.body-profile{
    text-align: center;
}